<section class="list-details">

    <header class="list-header">
        <div class="list-title">
            {{#with list.favorite}}
                <i class="fa-solid fa-star"></i>
            {{/with}}
            {{#unless list.favorite}}
                <i class="fa-regular fa-star"></i>
            {{/unless}}
            <h1>{{list.name}}</h1>
        </div>
        <i class="fa-solid fa-ellipsis-vertical"></i>
    </header>

    <div class="list">
        <div class="ingredients-by-category">
            {{#each list.rows}}
                <div class="list-row">
                    <p>{{amount}}</p>
                    <p>{{unit.name}}</p>
                    <p>{{ingredient.name}}</p>
                </div>
            {{/each}}
        </div>

        <div class="checked-items"></div>
    </div>

</section>