<nav>
    <ul>
        <li> <a href="/lists">Lists</a></li>
        <li> <a href="/saved">Saved</a></li>
        <li> <a href="/recipes">Recipes</a></li>
        <li> <a href="/profile/${{currentUser.id}}">Profile</a></li>
    </ul>
</nav>