<section class="welcome">
    <img src="./images/pantryRun-logo.png" alt="pantry run logo" />
    <div class="auth-buttons">
        <a href="/signup" class="signupBtn">Sign Up</a>
        <a href="/login" class="loginBtn">Login</a>
    </div>
</section>