body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(240, 245, 249);
}

a {
  color: black;
  text-decoration: none;
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

