:root{
    --lightBlue:rgb(240, 245, 249);
    --blue:#75a0ff;
    --orange:#ffa668;
    --black: #27272c;
    --redError:rgb(219, 92, 92);
}
body {
  font: 14px "Poppins";
  background-color: var(--lightBlue);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--blue);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


/*WELCOME PAGE----------------------------------------------------*/

.welcome {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.welcome img {
  width: 35vmin;
  margin-bottom: 2rem;
}
.auth-buttons{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}
.auth-buttons a {
  padding: 1rem 3rem;
  border-radius: 10px;
  text-align: center;

}
.signupBtn{
  background-color: var(--orange);
  color: white;
}

.loginBtn{
  border: 2px solid var(--orange);
}


/*SIGN UP & LOGIN----------------------------------------------------*/

#signup, #login{
  height: calc(100vh - 12vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#signup img, #login img{
  width: 20vmin;
  margin-bottom: 2rem;
}

.input-container{
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  margin-bottom: 1rem;
}
.input-container input{
  all: unset;
  border-bottom: 1px solid var(--blue);
  height: 2rem;
  width: 14rem;
} 

::placeholder {
  color: rgba(0, 0, 0, 0.266);
}

form button{
  all: unset;
  display: block;
  width: 100%;
  margin: 1.2rem 0 0.8rem 0;
  padding: 0.4rem 0;
  background-color: var(--orange);
  color: var(--black);
  text-align: center;
  border-radius: 10px;
}

label {
  color: var(--black);
}

#signup a, #signup-link{
  text-decoration: underline;
  font-size: 0.6rem;
}

#reset-password{
  font-size: 0.6rem;
  text-align: right;
}

.errorMessage{
  color: var(--redError);
  font-size: 0.6rem;
}

.input-error{
  border-bottom: 1px solid var(--redError) !important;
}


/*LIST DETAILS----------------------------------------------------*/
.list-details{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list-header{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  align-self: flex-start;
  position: sticky;
  top:0;
  background-color: var(--lightBlue);

}
.list-title{
    display: flex;
    gap: 0.2rem;
    justify-content: space-between;
    align-items: flex-start;
}
.title{
  display:flex;
  gap:10px
}
.list-details h1{
  max-width: 70vmin;
}
.searchbar input{
    all: unset;
    width: 80vmin;
    border-bottom: 2px solid var(--blue);
    height: 3rem;
    padding-left: 0.4rem;
  margin-top: 0.5rem;
}

.list-row{
    display:flex;
    justify-content: space-between;
    width: 80vmin;
    background-color: rgba(128, 128, 128, 0.107);
    padding: 1rem;
    margin-bottom: 1rem;
}

.content{
  display: flex;
  align-items: center;
}

.list-row p {
  margin-right: 0.4rem;
}

.item-name{
  max-width: 50vmin;
}

.list-details i{
  display: flex;
  align-items: center;
  justify-content: center;
}

.checked-items{
  height: 100vh;
  color: grey;
  text-decoration: line-through;
}

*[contenteditable="true"]:focus{
  outline: none;
  border-radius: 7px;
  padding:0.7rem;
  border: 2px solid var(--blue);
}
