<section class="list-of-lists saved">
    <header class="list-header">
        <h1>Your lists</h1>
    </header>

    <div class="list-wrapper">

        {{#each savedLists}}
            <div class="list-element">
                <div class="one-title">
                    <img src="./images/addToList.png" alt="add to list icon" />
                    <a href="/saved/{{id}}">
                        <h2>{{name}}</h2>
                    </a>
                </div>
                <i class="fa-regular fa-trash-can"></i>
            </div>
        {{/each}}

    </div>

</section>